*{
    margin: 0;
    padding: 0;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("minimal.jpg");
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    margin-left: 7vw;
    width: 100px;
    height: auto;
    border: 0.5px solid white;
    border-style: hidden;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.frames {
  font-size: 50px;
}
.slideshow-container{
  max-width: 200px;
  margin: auto;
  padding: 0;
 box-sizing:border-box;
}

/* Hide the images by default */
.mySlides {
  display: normal;
  float: right;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.move{
  padding: 20vh;
}

.slide-left p {
  animation: slide-up 7s;
  color: #fff;
  font-style: solid;
  margin-left: 10%;
  font-size: 150%;
  font-style: italic;
  font-variant: small-caps;
  letter-spacing: 4px;
  width: auto;
}

.slide-up p {
  animation: slide-up 7s;
  color: #fff;
  font-style: solid;
  margin-left: 10%;
  font-size: 150%;
  font-style: italic;
  font-variant: small-caps;
  letter-spacing: 4px;
  width: auto;
}

#title {
  animation: slide-title 7s initial;
  color: #fff;
  letter-spacing: 4px;
  font-style: solid;
  margin-left: 10%;
  font-size: 400%;
  font-weight: bolder;
  width: 50%;
}

@keyframes slide-up {
  from {
    margin-top: 100vh;
    width: auto; 
    
  }

  to {
    margin-top: 0vh;
    width: auto;
  }
} 
  @keyframes slide-up {
    from {
      margin-top: 100vh;
      width: auto; 
      
    }
  
    to {
      margin-top: 0vh;
      width: auto;
    }
  }

  @keyframes slide-title {
    from {
      margin-top: 100vh;
      width: auto; 
    }
    to {
      margin-top: 0vh;
      width: auto;
    }
    }

